<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">

</head>
    <body class="summary-body">
    <h1 class="voicebox-name-corner">VOICEBOX</h1>
    <button class="download-button">Download</button>
    <div class="container-side-card">
        <div class="sidenav">
            <a href="">Summary</a>
            <a href="">Content</a>
            <a href="">Voice</a>
            <a href="">Face</a>
        </div>
        <div class="card-container">
            <div class="card">
                <h2 class="card-title">1,234</h2>
                <p class="card-description">dfdfhh</p>
            </div>
        </div>
    </div>
</body>
</html>