<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">

</head>
    <body class="summary-body">
    <h1 class="voicebox-name-corner">VOICEBOX</h1>
    <button class="download-button">Download</button>
    <div class="container-side-card">
        <div class="sidenav">
            <a href="">Summary</a>
            <a href="">Content</a>
            <a href="">Voice</a>
            <a href="">Face</a>
        </div>
        <div class="card-container">
            <div class="card">
                <h2 class="card-title">{{ speakingpercentage }}%</h2>
                <p class="card-description">of time spoken</p>
            </div>

            <div class="card">
                <h2 class="card-title">{{ rate_of_speech }}</h2>
                <p class="card-description">overall rate of speech</p>
            </div>

            <div class="card">
                <h2 class="card-title">{{ articulation_rate }}</h2>
                <p class="card-description">overall articulation rate</p>
            </div>

            <div class="card">
                <h2 class="card-title">{{ gender }}</h2>
                <p class="card-description">speaker gender</p>
            </div>

            <div class="card">
                <h2 class="card-title">{{ intonation }}</h2>
                <p class="card-description">intonation type</p>
            </div>

            <div class="card">
                <h2 class="card-title">{{ number_of_pauses }}</h2>
                <p class="card-description">number of pauses</p>
            </div>
        </div>
    </div>
</body>
</html>