<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">

<body>
    <div class="stepper-wrapper active">
  <div class="stepper-item completed">
    <div class="step-counter">1</div>
    <div class="step-name">Upload</div>
  </div>
  <div class="stepper-item">
    <div class="step-counter">2</div>
    <div class="step-name">Customize</div>
  </div>
  <div class="stepper-item">
    <div class="step-counter">3</div>
    <div class="step-name">Configure</div>
  </div>
</div>
<div class="form-box">
    <form method = 'POST' class="col s12" enctype="multipart/form-data">

        {% csrf_token %}

        {{new_form.as_p}}

        <input type = "file" name = 'document' class="file-input">
        <p><button type = "submit" class = "button-upload" onclick="showLoading()">Upload</button></p>
        <p style="color: red;">{{ error }}</p>
</form>
            <div class="loading-container" id="loadingContainer">
            <div class="loading-spinner"></div>
            <p>Loading...</p>
        </div>
</div>
    <script>
        function showLoading() {
            const loadingContainer = document.getElementById('loadingContainer');
            loadingContainer.style.display = 'block';
        }
    </script>
</body>
</html>